{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <div class="alert alert-danger text-center" role="alert">
                Liczba zadań po terminie wykonania: {{ expiredTasks }}
            </div>
            <h3 class="text-center">Kategorie z aktualnymi zadaniami</h3>
            <table class="table table-striped text-center" style="margin-top:50px;">
                <tbody>
                    {% for category in categories %}
                        <tr>
                            <td><h4>{{ category.name }}</h4></td>
                            <td>
                                <a class="btn btn-primary" href="{{ path('taskby_category', { 'id': category.id }) }}" role="button">Zadania</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
    </div>
{% endblock %}
