{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1>TodO List</h1>
        <p>Witaj w naszej wspaniałej aplikacji. Swoją przygodę z planerem rozpocznij od stworzenia nowej kategorii dla swoich zadań.</p>
        <p>
            <a class="btn btn-lg btn-primary" href="{{ path('category_new') }}" role="button">Dodaj kategorię</a>
        </p>
    </div>
{% endblock %}
